{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="{% static 'first/stylecss.css' %}">
    <script src="https://use.fontawesome.com/e66f4b389f.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Dancing+Script&family=Nunito:ital,wght@1,300&family=Peddana&display=swap" rel="stylesheet">
    <!--scriptlinks for status page-->
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar_heading">
            <img src="../static/first/logo.jpg" alt="oblique">
        </div>
        <div class="navitems">
        <ul>
                
                <div class="dropdown">
                    <button class="dropbtn">Welcome <i class="fa fa-caret-down"></i></button>                    <div class="dropdown-content">
                        
                        {% if user.is_authenticated %}
                        <a href="/home">Home</a>
                        <a href="/myblog">MyBlog</a>
                        <a href="/blog">Blog Now</a>
                        <a href="/status">History</a>
                        <hr>
                        <a href="/logout">Logout</a>
                        {%else%}

                        <a href="/">Home</a>
                        <hr>
                        <a href="/signup">Signup</a>
                        <a href="/ulogin">Login</a>
                        {%endif%}

                      
                    </div>
                   
                  </div>
                  <i id="news" class="fa fa-newspaper-o"></i>
                  <h2>{{post}}</h2>
        </ul>
    </div>
    </nav>

    {%block content%}{% endblock %}

</body>
</html>
