{% extends "tempfirst/base.html" %}

{% block content %}


{%for i in data%}
<div class="index_body" id="home">
    <div class="card">
    <div class="card_header">
        <div class="header_data">
        <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i></h1>

        <h1>{{i.user.username}}</h1>
    </div>
    <div class="header_date">
        <h1>{{i.today}}</h1>
    </div>
    </div>
    <hr>
    <div class="bb">
    <div class="card_body">
        <h1>{{i.title}}</h1>
        <img src="{{i.foto.url}}" alt="{{i.title}}" width="75%" height="90%">
    </div>
    <div class="card_content">
        <p>{{i.content}}</p>
    </div>
</div>
    </div> 
            
</div>
{%endfor%}

{%endblock%}